body {
  height: 100%;
  background: #7fffd4;
  background: radial-gradient(ellipse at center, #2145a8 0%, #000000 70%);
  background-size: 100%;
}

.field {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

.timer {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #00ff00;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
